/*--------------
    COMMONS
 ---------------*/

 body{
    background: linear-gradient(to bottom, rgb(0,150,136) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh;
}

i{
    padding: 0px 5px;
    color: #b1b1b1;
}

/*--------------
    CONTAINER
 ---------------*/
.row{
    border: 1px solid black;
}

 .container{
     height: 90vh;
     padding:0;
 }

 .container_sender{
     width: 35%;
     display: flex;
     flex-direction: column;
 }

 .container_recipient{
    width: 65%;
}

.bg_users,.notifications_desktop,.send_message{
    min-height: 60px;
}

.container_chat{
    height: calc(90vh - 60px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_box,.input_box_message{
    width: 80%;
}
.input_box_message{
    height: 40px;
}

.microphone,.emoticon{
    width: 10%;
    display: flex;
    justify-content: center;
}

.notifications_desktop{
    display: flex;
    align-items: center;
}

 /*--------------
    SFONDI
 ---------------*/
 .bg_grey{
    background-color: #eaeaea ;
 }

 .bg_heavenly{
    background-color: #8edafc ;
 }

 .bg_sand{
     background-color: #f3eeea;
 }


  /*--------------
    STYLE
 ---------------*/
 
 .input_box,.btn_style,.input_box_message{
     display: flex;
     border-radius: 3px;
     font-size: 12px;
     padding: 10px;
     border-style: none;
 }
 .input_box,.btn_style{
    height: 30px;
 }

 .btn_style{
     background-color: white;
     width: 15%;
     margin-right: 5px;
     justify-content: center;
     color: grey;
 }

 .chat{
    border: 1px solid black;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
 }

 .send_message{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .friends_list{
     overflow-y: auto;
     flex-grow: 1;
 }
 .friends_list ul{
     margin-left: 0;
     padding-left: 0;
 }
 .friends_list li{
     list-style: none;
     padding: 10px;
     
 }

 .friends_list li:hover{
    background-color: lightgray;
}

 .img_profile{
     width: 50px;
     border-radius: 50px;
 }

 .bell_style{
     background-color: white;
     color: #8edafc;
     padding: 14px 10px;
     border-radius: 50px;
 }
 .active_notifications{
     text-decoration: underline;
     color: grey;
 }