/*--------------
    COMMONS
 ---------------*/

 body{
    background: linear-gradient(to bottom, rgb(0,150,136) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh;
}

i{
    padding: 0px 5px;
    color: #b1b1b1;
}

/*--------------
    CONTAINER
 ---------------*/

 .container{
     height: 90vh;
     padding:0;
 }

 .row_sender{
    display: flex;
    justify-content: flex-end;
 }

 .message_sender, .message_recipient{
    margin: 10px;
    width: 40%;
    padding: 5px 20px;
    border-radius: 10px;
    line-height: 20px;
 }
 .message_sender{
     margin-right: 50px;
     background-color: #d5f9ba;
 }

 .message_recipient{
     margin-left:50px;
     background-color: #ffffff;

 }

 .container_sender{
     width: 35%;
     display: flex;
     flex-direction: column;
 }

 .container_recipient{
    width: 65%;
}
.user_box{
    border-right: 2px solid lightgray;
}

.bg_users,.notifications_desktop,.send_message{
    min-height: 60px;
}

.container_chat{
    height: calc(90vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_box,.input_box_message{
    width: 80%;
}
.input_box_message{
    height: 40px;
}

.microphone,.emoticon{
    width: 10%;
    display: flex;
    justify-content: center;
}

.notifications_desktop{
    display: flex;
    align-items: center;
}

 /*--------------
    SFONDI
 ---------------*/
 .bg_grey{
    background-color: #eaeaea ;
 }

 .bg_heavenly{
    background-color: #8edafc ;
 }

 .bg_sand{
     background-color: #f3eeea;
 }


  /*--------------
    STYLE
 ---------------*/
 
 .input_box,.btn_style,.input_box_message{
     display: flex;
     border-radius: 3px;
     font-size: 12px;
     padding: 10px;
     border-style: none;
 }
 .input_box,.btn_style{
    height: 30px;
 }

 .btn_style{
     background-color: white;
     width: 15%;
     margin-right: 5px;
     justify-content: center;
     color: grey;
 }

 .chat{
    overflow-y: auto;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
 }

 .send_message{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .friends_list{
     overflow-y: auto;
     flex-grow: 1;
 }
 .friends_list ul{
     margin-left: 0;
     padding-left: 0;
 }
 .friends_list li{
     list-style: none;
     padding: 10px;
    display: flex;
 }
 .name_box{
     padding-left: 10px;
 }

 .time{
     display: flex;
     justify-content: flex-end;
     flex-grow: 1;
     font-size: small;
     text-align: right;
 }
 .ultimate_message{
     font-size: small;
     margin-top: -10px;
     color: gray;
 }
 .friends_list li:hover{
    background-color: lightgray;
}

.active_friend{
    background-color: lightgray;
}

 .img_profile{
     width: 50px;
     border-radius: 50px;
     
 }

 .box_recipient{
     display: flex;
 }

 .bell_style{
     background-color: white;
     color: #8edafc;
     padding: 14px 10px;
     border-radius: 50px;
 }
 .active_notifications{
     text-decoration: underline;
     color: grey;
 }

 